<ul>
<% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail.id) %></li>
<% end %>
</ul>

<%= link_to new_cocktail_path do %>
  <i class="fas fa-plus-circle"></i> 
<% end %>